@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;500;700&family=Roboto+Slab:wght@300;500;700&display=swap");
/* MISC */
/* VARIABLES */
/* Pallete */
/* Font-family */
/* Fonts Sizes*/
.text-xl {
  font-size: 4.8em !important; }

.text-lg {
  font-size: 32px !important; }

.text-md {
  font-size: 20px !important; }

.text-sm {
  font-size: 16px !important; }

.text-xs {
  font-size: 14px !important; }

/* Spacings */
/* Normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Barlow", sans-serif;
  color: #2B2B2B;
  background-color: #FDF7FA; }

img {
  width: 100%; }

ul {
  list-style-type: none; }

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0rem;
  padding-left: 0rem; }

a {
  text-decoration: none; }

a:visited {
  color: #FF5376; }

/* Helpers */
/* .container {
    margin: 0 auto;
    max-width: 1200px;
} */
.flex-row {
  display: flex;
  flex-direction: row; }

/* PARTIALS */
/* HEADER */
.main-header {
  padding: 20px;
  font-family: "Roboto Slab", serif; }
  .main-header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap; }
  .main-header__logo {
    display: block;
    max-width: 150px;
    min-width: 120px; }

.menu {
  display: flex;
  align-items: center;
  gap: 20px; }
  .menu__link {
    color: #2B2B2B;
    padding: 1rem;
    font-size: 20px;
    font-weight: 500;
    transition: all .3s; }
    .menu__link:hover {
      background-color: #2B2B2B;
      color: white; }
  .menu__link--active {
    border: 2px solid #2B2B2B; }

/* VIEWS */
/* CARDS */
#cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px; }

.card {
  flex: 1 1 250px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
  display: flex;
  flex-direction: column; }

.card div {
  /* display: flex;
    flex-direction: column;
    gap: 1rem; */
  padding: 1.2rem; }

.card__title {
  font-family: "Roboto Slab", serif;
  font-size: 32px; }

.card__subtitle {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 14px;
  color: #FF5376;
  margin-bottom: 1.5rem; }

.card__text {
  font-size: 16px; }

.card__img, .card__img--zorro, .card__img--perro, .card__img--guacamayo, .card__img--loro {
  height: 400px;
  background-size: cover; }

.card__img--zorro {
  background-image: url("../img/zorro.jpg"); }

.card__img--perro {
  background-image: url("../img/perro.jpg"); }

.card__img--guacamayo {
  background-image: url("../img/guacamayo.jpg"); }

.card__img--loro {
  background-image: url("../img/loro.jpg"); }

/* PHOTOS */
.article__paragraph {
  font-size: 20px; }

/* GALLERY */
#gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px; }

#gallery .gallery__img:nth-of-type(1) {
  grid-column: span 6; }

#gallery .gallery__img:nth-of-type(2) {
  grid-column: span 6; }

#gallery .gallery__img:nth-of-type(3) {
  grid-column: span 4; }

#gallery .gallery__img:nth-of-type(4) {
  grid-column: span 4; }

#gallery .gallery__img:nth-of-type(5) {
  grid-column: span 4;
  grid-row: span 2;
  height: 100%; }

#gallery .gallery__img:nth-of-type(6) {
  grid-column: span 8; }

/* Responsive */
@media (max-width: 786px) {
  #gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem; }
  #gallery .gallery__img img {
    height: 100%; }
  #gallery .gallery__img:nth-of-type(3) {
    grid-column: span 3;
    grid-row: 3 / 4; }
  #gallery .gallery__img:nth-of-type(4) {
    grid-column: span 3;
    grid-row: 4 / 5; }
  #gallery .gallery__img:nth-of-type(5) {
    grid-column: span 3;
    grid-row: 3 / 5; }
  #gallery .gallery__img:nth-of-type(6) {
    grid-column: span 6; } }

@media (max-width: 480px) {
  .main-header__nav {
    flex-direction: column;
    gap: 36px; } }
