* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Helpers */

.container {
    margin: 0 auto;
    max-width: 1200px;
}

/* HEADER */

.main-header {
    padding: 2rem;
}

.main-header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.main-header__logo {
    display: block;
    max-width: 150px;
    min-width: 120px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menu__link {
    color: #2B2B2B;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transition: all .3s;
}


.menu__link:hover {
    background-color: #2B2B2B;
    color: white;
}

/* CARDS */

#cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    gap: 2rem;
}

.card {
   grid-column: span 4;
}



/* 
@media (max-width: 768px) {
   .card {
    grid-column: span 6;
   }
   .card--last {
    grid-column: 4/10;
   }
}

@media (max-width: 480px) {
    .main-header__nav {
        flex-direction: column;
    }

    #cards {
        grid-template-columns: 1fr;
    }
    .card {
        grid-column: 1;
    } 
} */

/* @keyframes slide {
    from {
        transform: translate3d(0px, 0deg, 0px);

    }

    to {
        transform: translate3d(0px, -300deg, -300px);
        
    }
}

@keyframes rotate {
    0% {
        opacity: 0;
        transform: translateX(-500px)
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
} */