@mixin flex($dir, $fr, $jc, $ai, $gap) {
    display: flex;
    flex-flow: $dir $fr;
    justify-content: $jc;
    align-items: $ai;
    gap: $gap;
}

@mixin square($size) {
    width: $size;
    height: $size;
}

@mixin rounded-multi($t, $r, $b, $l) {
    border-radius: $t $r $b $l;
    box-shadow: 2px 2px 10px black;
}