
/* VARIABLES */

    /* Pallete */
    $primary: #2B2B2B;
    $secondary: #FDF7FA;
    $accent: #FF5376;
    $alternative: #302F4D;
    $alternative-dark: #120D31;

    /* Font-family */
    $text-base: 'Barlow', sans-serif;
    $text-alt: 'Roboto Slab', serif;

    /* Fonts Sizes*/
    // $text-xl: 4.8em;
    // $text-lg: 32px;
    // $text-md: 20px;
    // $text-sm: 16px;
    // $text-xs: 14px;

    $font-sizes: (
        text-xl: 4.8em,
        text-lg: 32px,
        text-md: 20px,
        text-sm: 16px,
        text-xs: 14px
    );

    @each $key, $val in $font-sizes {
        .#{$key} {
            font-size: $val!important;
        }
    }

    /* Spacings */
    $spacing-xl: 4.8rem;
    $spacing-lg: 36px;
    $spacing-md: 24px;
    $spacing-sm: 20px;


    // $spacings: (
    //     spacing-xl: 4.8rem,
    //     spacing-lg: 36px,
    //     spacing-md: 24px,
    //     spacing-sm: 20px
    // );

    // @each $key, $val in $spacings {
    //     .#{$key} {
    //         padding:
    //     }
    // }