

/* CARDS */

#cards {
    @include flex(row, wrap, space-between, stretch, $spacing-sm);
    // display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
    // gap: $spacing-sm;
}

.card {
    flex: 1 1 250px;
    @include flex(column, nowrap, flex-start, stretch, 0);
    display: flex;
    flex-direction: column;
} 

.card div {
    /* display: flex;
    flex-direction: column;
    gap: 1rem; */
    padding: 1.2rem;
}

.card__title {
    font-family: $text-alt;
    font-size: map-get($font-sizes , text-lg);
}

.card__subtitle {
    font-family: $text-alt;
    font-weight: 300;
    font-size: map-get($font-sizes , text-xs);
    color: $accent;
    margin-bottom: 1.5rem;
}

.card__text {
    font-size: map-get($font-sizes , text-sm);
}

$animales: (
    zorro: 'zorro',
    perro: 'perro',
    guacamayo: 'guacamayo',
    loro: 'loro'
);

.card__img {
    height: 400px;
    background-size: cover;
}

@each $key, $val in $animales {  
    .card__img--#{$key}  {
        @extend .card__img;
        background-image: url('../img/#{$val}.jpg');
    }
}


/* PHOTOS */

.article__paragraph {
    font-size: map-get($font-sizes, text-md);
}

/* GALLERY */

#gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: $spacing-sm;
}

// @for $val from 0 through 5 {
//     #gallery .gallery__img:nth-child(#{$val + 1}) {
//         height: 400px;
//         background-image: url('../img/img-#{$val}.jpg');
//         background-size: cover;
//     }
// }

#gallery .gallery__img:nth-of-type(1) {
    grid-column: span 6;
}

#gallery .gallery__img:nth-of-type(2) {
    grid-column: span 6;
}

#gallery .gallery__img:nth-of-type(3) {
    grid-column: span 4;
}

#gallery .gallery__img:nth-of-type(4) {
    grid-column: span 4;
    
}

#gallery .gallery__img:nth-of-type(5) {
    grid-column: span 4;
    grid-row: span 2;
    height: 100%;
}

#gallery .gallery__img:nth-of-type(6) {
    grid-column: span 8;
}

/* Responsive */

@media (max-width: 786px) {
    #gallery {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 1rem;
    }

    #gallery .gallery__img img{
        height: 100%;
    }

    #gallery .gallery__img:nth-of-type(3) {
        grid-column: span 3;
        grid-row: 3 / 4; 
    }
    
    #gallery .gallery__img:nth-of-type(4) {
        grid-column: span 3;
        grid-row: 4 / 5;      
    }
    
    #gallery .gallery__img:nth-of-type(5) {
        grid-column: span 3;
        grid-row: 3 / 5;
    }
    
    #gallery .gallery__img:nth-of-type(6) {
        grid-column: span 6;
    }
}

@media (max-width: 480px) {
    .main-header__nav {
        flex-direction: column;
        gap: $spacing-lg;
    }
}
