
/* CARDS */

/* #cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--spacing-sm);
} */

/* .card {
    flex: 1 1 250px;
} */
#cards article:nth-child(even) {
    background-color: deeppink;
}

.card div {
    /* display: flex;
    flex-direction: column;
    gap: 1rem; */
    padding: 1.2rem;
}

.card__title {
    font-family: var(--text-alt);
    font-size: var(--text-lg);
}

.card__subtitle {
    font-family: var(--text-alt);
    font-weight: 300;
    font-size: var(--text-xs);
    color: var(--accent);
    margin-bottom: 1.5rem;
}

.card__text {
    font-size: var(--text-sm);
}

/* PHOTOS */

.article__paragraph {
    font-size: var(--text-md);
}

/* GALLERY */

#gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: var(--spacing-sm);
}

#gallery .gallery__img:nth-of-type(1) {
    grid-column: span 6;
}

#gallery .gallery__img:nth-of-type(2) {
    grid-column: span 6;
}

#gallery .gallery__img:nth-of-type(3) {
    grid-column: span 4;
}

#gallery .gallery__img:nth-of-type(4) {
    grid-column: span 4;
    
}

#gallery .gallery__img:nth-of-type(5) {
    grid-column: span 4;
    grid-row: span 2;
    height: 100%;
}

#gallery .gallery__img:nth-of-type(6) {
    grid-column: span 8;
}

/* Responsive */

@media (max-width: 786px) {
    #gallery {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 1rem;
    }

    #gallery .gallery__img img{
        height: 100%;
    }

    #gallery .gallery__img:nth-of-type(3) {
        grid-column: span 3;
        grid-row: 3 / 4; 
    }
    
    #gallery .gallery__img:nth-of-type(4) {
        grid-column: span 3;
        grid-row: 4 / 5;      
    }
    
    #gallery .gallery__img:nth-of-type(5) {
        grid-column: span 3;
        grid-row: 3 / 5;
    }
    
    #gallery .gallery__img:nth-of-type(6) {
        grid-column: span 6;
    }
}

@media (max-width: 480px) {
    .main-header__nav {
        flex-direction: column;
        gap: var(--spacing-lg);
    }
}
